.icon{
    margin-top: 0.4rem;
    margin-bottom: -0.4rem;
  &-github:hover{
    fill: #333;
  }
  &-linkedin:hover{
    fill: #0077B5;
  }
  &-facebook:hover{
    fill: #3b5999;
  }
  &-twitter:hover{
    fill: #55acee;
  }
  &-skype:hover{
    fill: #00AFF0;
  }
}