$skewDeg: 10deg;
$magicVH: 18vh; // this number is magic and depends on skew angle
$scrollTime: 1s;

.skw-pages {
  overflow-y: auto;
  position: relative;
}

@media (max-width: 660px) {
  .ca3-scroll-down-svg {
    display: none !important;
  }
  .ca3-scroll-up-svg {
    display: none !important;
  }
}

.skw-page {
  &__skewed {
    height: 100%;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: justify;
    font-weight: 600;
    padding: 0.2rem 0;
  }

  &__heading {
    font-size: 2rem;
    font-weight: bolder;
  }

  &__description {
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
  }

  &__link {
    color: #FFA0A0;
  }

  &-1 {
    .skw-page__half {
    }
    .skw-page__half--left .skw-page__content {
      background-color: #81D4FA;
    }
    .skw-page__half--right .skw-page__content {
      background-color: #81D4FA;
    }
  }
  &-2 {
    .skw-page__half--left .skw-page__content {
      background-color: #4FC3F7;
    }
    .skw-page__half--right .skw-page__content {
      background-color: #81D4FA;
    }
  }
  &-3 {
    .skw-page__half--left .skw-page__content {
      background-color: #4FC3F7;
    }
    .skw-page__half--right .skw-page__content {
      background-color: #81D4FA;
    }
  }
}

@media (min-width: 660px) {
  .skw-pages {
    overflow: hidden;
    height: 100vh;
  }

  .skw-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__half {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100vh;
      transition: transform $scrollTime;

      &--left {
        grid-column: 1/2;
        transform: translate3d(-$magicVH, 100%, 0);
      }

      &--right {
        grid-column: 2/3;
        transform: translate3d($magicVH, -100%, 0);
      }

      .skw-page.active & {
        transform: translate3d(0, 0, 0);
      }
    }

    &__skewed {
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 140%;
      height: 100%;
      transform: skewX($skewDeg * -1);
      background: #fff;

      .skw-page__half--left & {
        left: -40%;
      }
      .skw-page__half--right & {
        right: -40%;
      }
    }

    &__content {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: #000;
      transform: skewX($skewDeg);
      transition: transform $scrollTime, opacity $scrollTime;
      background-size: cover;
      font-weight: 600;

      .skw-page__half--left & {
        padding-left: 10%;
        padding-right: 10%;
        transform-origin: 100% 0;
      }
      .skw-page__half--right & {
        padding-left: 10%;
        padding-right: 10%;
        transform-origin: 0 100%;
      }

      .skw-page.inactive & {
        opacity: 0.5;
        transform: skewX($skewDeg) scale(0.95);
      }
    }

    &__heading {
      font-size: 2rem;
      text-align: center;
      font-weight: bolder;
    }

    &__description {
      font-size: 1.3rem;
      text-align: center;
      font-weight: 600;
      font-style: italic;
    }

    &__link {
      color: #FFA0A0;
    }

    &-1 {
      .skw-page__half {
        height: 100vh;
      }
      .skw-page__half--left .skw-page__content {
        background-color: #4FC3F7;
      }
      .skw-page__half--right .skw-page__content {
        background-color: #81D4FA;
      }
    }
    &-2 {
      .skw-page__half--left .skw-page__content {
        background-color: #81D4FA;
      }
      .skw-page__half--right .skw-page__content {
        background-color: #4FC3F7;
      }
    }
    &-3 {
      .skw-page__half--left .skw-page__content {
        background-color: #4FC3F7;
      }
      .skw-page__half--right .skw-page__content {
        background-color: #81D4FA;
      }
    }
  }

  .cnt {
    grid-column: 2/3;
    margin: 0 auto;
  }

  .ca3-scroll-down-svg {
    display: inline-block !important;
  }
  .ca3-scroll-up-svg {
    display: inline-block !important;
  }
}
