.skl-list-cnt{
  display: grid;
  grid-template-columns: 1fr 6rem 1rem 8rem 2fr;
}

.skl-star{
  grid-column: 4/5;
}

.skl-txt{
  grid-column: 2/3;
  text-align: right;
}

.list-cnt{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2%;
  padding-bottom: 2%;
}

.wSmr{
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
}

.smr-list{
  grid-column: 2/3;
  line-height: 130%;
}

.smr-list-item{
  padding-top: 0.4rem;
}